<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- Application Embedding -->
    <meta content="Pinewood Builders" property="og:title" />
    <meta content="The unofficial homepage of the Pinewood Builders ROBLOX group." property="og:description" />
    <meta content="https://pb.imskyyc.xyz" property="og:url" />
    <meta content="https://pb.imskyyc.xyz/favicon.ico" property="og:image" />
    <meta content="#0569f1" name="theme-color" />

    <title>Pinewood Builders</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but the Pinewood Builders Website doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
