<template>
  <div class="error-404">
    <h1>404. That's an error chief.</h1>
    <h4>The page you were looking for could not be found. Sorry about that.</h4>
    <br />
    <h3>(Click the Pinewood logo at the top to go home.)</h3>
  </div>
</template>

<style>
.error-404 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  color: #fff;
}
</style>
