<template>
  <div class="home">
    <h1>Welcome to Pinewood.</h1>
    <h4>The unofficial home of Pinewood Builders.</h4>
  </div>
</template>

<style>
.home {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  color: #fff;
}
</style>
