<template>
  <div class="nav">
    <div class="controls controls-left">
      <Button to="about" title="About" color="#fff" />
      <Button to="games" title="Games" color="#fff" />
      <Button to="groups" title="Groups" color="#fff" />
    </div>

    <router-link to="/" tag="a" class="logo">
      <img src="@/assets/logo.png" />
    </router-link>

    <div class="controls controls-right">
      <Button to="pbst" title="PBST Handbook" color="#1176e2" />
      <Button to="pet" title="PET Handbook" color="#9d4606" />
      <Button to="tms" title="TMS Handbook" color="#cb3d3b" />
    </div>
  </div>
</template>

<script>
import Button from "@/components/NavbarButton.vue";

export default {
  name: "NavbarComponent",
  components: {
    Button,
  },
};
</script>

<style>
.nav {
  height: 7.5vh;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
}

.controls {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  color: #fff;
}

.controls-left {
  justify-content: right;
}

.controls-right {
  justify-content: left;
}

.controls > div {
  margin: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}

.logo img {
  margin: auto;
  display: block;
  height: 80%;
}
</style>
