<template>
  <div v-if="title != undefined">
    <router-link v-if="to != undefined" :to="to" tag="a">
      <button :style="buttonStyles" @mouseover="hover" @mouseleave="unhover">
        {{ title }}
      </button>
    </router-link>

    <button v-else></button>
  </div>
</template>

<script>
export default {
  name: "NavbarButton",
  props: {
    to: String,
    title: String,
    icon: String,
    color: String,
  },

  beforeMount() {
    this.hoverColor = this.color === "#fff" ? "#000" : "#fff";
  },

  methods: {
    hover(mouseEvent) {
      const srcElement = mouseEvent.srcElement;

      srcElement.style.color = this.hoverColor;
      srcElement.style.backgroundColor = this.color;
    },

    unhover(mouseEvent) {
      const srcElement = mouseEvent.srcElement;
      srcElement.style.color = "#fff";
      srcElement.style.backgroundColor = "rgba(255, 255, 255, 0)";
    },
  },

  computed: {
    buttonStyles() {
      return {
        "border-color": this.color ? this.color : "#fff",
      };
    },
  },
};
</script>

<style>
a {
  text-decoration: none;
  /* margin: 0.5rem; */
}

button {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  border-radius: 1.25rem;
  border-style: solid;
  background: transparent;
  padding: 0.75rem;
  color: #fff;
  transition: all 0.25s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}

button:hover {
  cursor: pointer;
}
</style>
