<template>
  <div id="app">
    <section></section>
    <Navbar />
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
</template>

<script>
import Navbar from "@/components/NavbarComponent.vue";

export default {
  name: "App",
  components: {
    Navbar,
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

section {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url("@/assets/backgrounds/mainframext.png");
  background-size: cover;
  background-position: center center;
  filter: grayscale(1);
  z-index: -1;
}
</style>
